<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>edu.usfca.UploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/api/uploadfile/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadBlob</servlet-name>
		<servlet-class>edu.usfca.UploadBlob</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadBlob</servlet-name>
		<url-pattern>/api/uploadblob/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>edu.usfca.Download</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/api/download/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Thumb</servlet-name>
		<servlet-class>edu.usfca.Thumb</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Thumb</servlet-name>
		<url-pattern>/api/thumb/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>edu.usfca.Update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/api/update/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>edu.usfca.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/api/delete/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Share</servlet-name>
		<servlet-class>edu.usfca.Share</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Share</servlet-name>
		<url-pattern>/api/share</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Privacy</servlet-name>
		<servlet-class>edu.usfca.Privacy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Privacy</servlet-name>
		<url-pattern>/api/privacy</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
